<h1>Questions#ask</h1>
<!-- <p>Find me in app/views/questions/ask.html.erb</p> -->

<form action="/answer">
  <input type="text" id="form-input" name="question" placeholder="say anything to your coach">
  <input type="submit" id="btn" value="Ask!">
</form>
<!-- action specifies the URL that will be used when submitting the form
name enables you to name each parameter corresponding to each input of the form. -->
